[defaults]
inventory = inventory.yml
roles_path = roles
host_key_checking = False
retry_files_enabled = False
forks = 20

# facts cache: re-use gathered facts across Playbook runs
gathering = smart
fact_caching = jsonfile
fact_caching_connection = .ansible_facts_cache
# save facts for a day
fact_caching_timeout = 86400

[ssh_connection]
pipelining = True
# remove the "-o StrictHostKeyChecking=no" for production environments
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
